<body>
  <div class="container">
    <%= simple_form_for @question do |f| %> 
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.button :submit %>
      <%= link_to root_path do %>
        <div class="waves-effect waves-light btn">Back</div>
      <% end %>
    <% end %> 
  </div>
</body>
