<% if user_signed_in? %>
  <center>
    <h2 class="btn-floating btn-large waves-effect waves-light blue">
      <%= link_to new_item_path do %>
        <i class="material-icons">add</i>
      <% end %>
    </h2>
  </center>
<body>
  <div class="container">
    <table>
      <tr>
        <td>Title <i>(Number of questions)</i></td>
        <td>Description</td>
        <td>Action</td>
      </tr>
      <% @items.each do |item| %>
        <tr>
          <td>
            <h5><%= link_to item.title, item %></h5><i>(Number)</i>
          </td>
          <td> 
            <%= item.description %>
          </td>
          <td>
            <%= link_to edit_item_path(item) do %>
              <i class="Small material-icons">edit</i>
            <% end %>
            <%= link_to item_path(item), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="Small material-icons">delete</i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <center><%= will_paginate @items %></center>
  </div>
</body>
<% else %>
  <% render 'layouts/static_page' %>
<% end %>
