<%= javascript_include_tag('app/assets/javascripts/controllers/checklists_controller.js') %>
<body>
  <div class="container">
    <%= simple_form_for @checklist do |f| %> 
      <%= f.input :title %>
      <%= f.input :description %>

      <center>
      <br>
      <%= f.button :submit %>
      <%= link_to root_path do %>
        <div class="waves-effect waves-light btn">Back</div>
      <% end %>
      </center>

      <br>

    <% end %> 
  </div>
</body>

