<!DOCTYPE html>
<html>
  <head>
    <title>ChecklistsAndAudits</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class='nav-wrapper'>
      <ul id="nav-mobile">
        <li><%= link_to 'Checklist', root_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% if current_user.present? %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
    
    <center>
    <h3>
    <p class="notice"><font color="green"><%= notice %></p></font>
    <p class="alert"><font color="red"><%= alert %></p></font>
    </center>
    </h3>
    
    <%= yield %>
  </body>
</html>
